@import 'base/variables'

@import 'base/normalize'
@import 'base/global'

// Import Components
// @import 'components/header'

// Import Layouts
// @import 'layouts/home'

// Import Plugins
// @import 'plugins/plugin'

body{
  display flex
  min-height 100vh
  margin 0
  background-color #07A79D
}

#microscope{
  width 30vw
  position relative
  stroke white
  margin auto


}

#body-svg, div#texture{
  position absolute
  width 100%
  height 100%
  // rect{
  //   fill blue
  // }
}

pattern path{
  stroke #01686F
  opacity 0.1
}

img.svg{
  opacity 0
}
